docker.enabled = true

process {
    executor='local'
    withName: download_fastq {
        container='evolbioinfo/sratoolkit:v2.5.7'
    }
    withName: create_index {
        container='evolbioinfo/star:v2.7.6a'
    }
    withName: mapping {
        container='evolbioinfo/star:v2.7.6a'
    }
}
